<div id="container" ng-controller="main">

  <div id="textBox" ng-controller="textbox">
    <h1 ng-click="$parent.levelCounter = $parent.levelCounter + 1">{{$parent.currentLevel()}}</h1>
    <br>
    <p> This is a bunch of text telling you what's going on in this game</p>
    <p>In Combat: {{$parent.inCombat()}} // levelCounter: {{$parent.levelCounter}}</p>
    <p>{{$parent.result()}}</p>
  </div>

  <div id="gameBox" ng-controller="gamebox">
    <md-button class="md-primary" ng-click="$parent.input('A')">
      {{$parent.inputA}}
    </md-button>
    <md-button class="md-accent" ng-click="$parent.input('B')">
      {{$parent.inputB}}
    </md-button>
    <md-button class="md-warn" ng-click="$parent.input('C')">
      {{$parent.inputC}}
    </md-button>
    <md-button flex="10" class="md-warn" ng-click="$parent.input('D')">
      {{$parent.inputD}}
    </md-button>

    <br>

    <div id="statusContainer" layout="row" layout-align="space-around none" ng-controller="status">

      <div id="playerData" flex="35" layout="column">
        <div>
          <p>Health: <span>{{$parent.player.health}}</span></p>
        </div>
        <div md-theme="statusBars">
          <md-progress-linear class="md-primary" md-mode="determinate" value="{{$parent.player.hp}}"></md-progress-linear>
        </div>
        <div>
          <p>Stamina: <span>{{$parent.player.stamina}}</span></p>
        </div>
        <div md-theme="statusBars">
          <md-progress-linear class="md-accent" md-mode="determinate" value="{{$parent.player.stamina}}"></md-progress-linear>
        </div>
      </div>

      <div id="monsterData" flex="35" layout="column">
        <div>
          <p>Enemy: <span>{{dancingBears.name}}</span></p>
        </div>
        <div md-theme="statusBars">
          <md-progress-linear class="md-primary" md-mode="determinate" value="{{$parent.mob.hp * $parent.mob.healthFactor}}"></md-progress-linear>
        </div>

      </div>

    </div>

  </div>
</div>
