<div id="container" ng-controller="main">

  <div id="textBox" ng-controller="textbox">
    <h1>{{$parent.currentLevel().title}}</h1>
    <br>
    <p>{{$parent.currentLevel().text}}</p>
    <p>In Combat: {{$parent.inCombat()}} // levelCounter: {{$parent.levelCounter}}</p>
    <p>{{$parent.result()}}</p>
    <p>{{$parent.mobaction}}<p>
  </div>

  <div id="gameBox">
    <md-button class="btn btn-a md-raised" ng-click="input('A')">
      {{inputA}}
    </md-button>
    <md-button ng-hide="currentLevel().enemy === null && levelCounter !== 1 && levelCounter !== 2" class="btn btn-b md-raised" ng-click="input('B')">
      {{inputB}}
    </md-button>
    <md-button ng-hide="currentLevel().enemy === null && levelCounter !== 1 && levelCounter !== 2" class="btn btn-c md-raised" ng-click="input('C')">
      {{inputC}}
    </md-button>
    <md-button ng-hide="currentLevel().enemy === null && levelCounter !== 1 && levelCounter !== 2" class="btn btn-d md-raised" ng-click="input('D')">
      {{inputD}}
    </md-button>

    <br>

    <div id="statusContainer" layout="row" layout-align="space-around none" ng-controller="status" ng-show="$parent.inCombat() === true">

      <div id="playerData" flex="25" layout="column" layout-align="center start">
        <p class="playerName">{{$parent.player.name}}</p>
        <md-progress-linear md-theme="statusBars" class="md-primary" md-mode="determinate" value="{{$parent.player.hp}}"></md-progress-linear>
        <p>HP: <span>{{$parent.player.hp}}</span></p>
        <md-progress-linear md-theme="statusBars" class="md-accent" md-mode="determinate" value="{{$parent.player.stamina}}"></md-progress-linear>
        <p>Stamina: <span>{{$parent.player.stamina}}</span></p>
      </div>


      <div id="monsterData" flex="35" layout="column">
        <div>
          <p>Enemy: <span>{{$parent.mob.name}}</span></p>
        </div>
        <div md-theme="statusBars">
          <md-progress-linear class="md-primary" md-mode="determinate" value="{{$parent.mob.hp * 100 / $parent.mob.maxHealth}}"></md-progress-linear>
        </div>
      </div>

    </div>
  </div>

</div>
