<div id="container" ng-controller="main">

  <div id="textBox" ng-controller="textbox">
    <h1 ng-click="$parent.levelCounter = $parent.levelCounter + 1">{{$parent.currentLevel().title}}</h1>
    <br>
    <p>{{$parent.currentLevel().text}}</p>
    <p>In Combat: {{$parent.inCombat()}} // levelCounter: {{$parent.levelCounter}}</p>
    <p>{{$parent.result()}}</p>
  </div>

  <div id="gameBox"  >
    <md-button class="btn btn-a md-raised" ng-click="$parent.input('A')">
      {{$parent.inputA}}
    </md-button>
    <md-button class="btn btn-b md-raised" ng-click="$parent.input('B')">
      {{$parent.inputB}}
    </md-button>
    <md-button class="btn btn-c md-raised" ng-click="$parent.input('C')">
      {{$parent.inputC}}
    </md-button>
    <md-button class="btn btn-d md-raised" ng-click="$parent.input('D')">
      {{$parent.inputD}}
    </md-button>

    <br>

    <div id="statusContainer" layout="row" layout-align="space-around none" ng-controller="status" ng-show="$parent.inCombat() === true">

      <div id="playerData" flex="25" layout="column" layout-align="center start">
        <p class="playerName">{{$parent.player.name}}</p>
        <md-progress-linear md-theme="statusBars" class="md-primary" md-mode="determinate" value="{{$parent.player.health}}"></md-progress-linear>
        <p>HP: <span>{{$parent.player.health}}</span></p>
        <md-progress-linear md-theme="statusBars" class="md-accent" md-mode="determinate" value="{{$parent.player.stamina}}"></md-progress-linear>
        <p>Stamina: <span>{{$parent.player.stamina}}</span></p>
      </div>

      <div id="monsterData" flex="30" layout="column" layout-align="center end">
        <p>Enemy: <span>{{$parent.currentLevel().enemy.name}}</span></p>
        <md-progress-linear md-theme="statusBars" class="md-primary" md-mode="determinate" value="100"></md-progress-linear>
      </div>

    </div>

  </div>
</div>
